*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

    font-family: 'Overpass', sans-serif;
    caret-color: transparent;
}
body{
    background-color: hsl(240, 29%, 17%);
    background-image: url(../assets/bg-texture.png);
    color: whitesmoke;
}
.header{
    display: grid;
    grid-template-columns: 10% 80% 10%;
}
.header_center{
    text-align: center;
}
.header_titulo{
    font-size: calc(25px + 2vw);
}
.header_asideLeft{
    position: relative;
}
.header_asideTextContainer{
    position: absolute;
    bottom: 20vh;
    left: 10%;
}
.header_asideText{
    writing-mode: vertical-lr;
    color: #00aeff;
    font-size: 20px;
}
.header_line{
    border-left: 3px solid #00aeff;
    height: 150px;
    position: absolute;
    left: 50%;
    margin-left: -1.5px;
    top: 0;
}
.header_lineContainer{
    position: relative;
}
.header_linksContainer{
    display: flex;
    flex-direction: column;

    position: absolute;
    right: 10%;
    bottom: 20vh;
}
.header_linkIcon{
    color: #00aeff;
    font-size: 30px;
}
.header_linkIcon:hover{
    color: #0086c4;
    transform: scale(1.2);
}
.header_containerBotones{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header_boton{
    font-size: calc(15px + 1vw);
    border: 1px solid #00aeff;
    color: #00aeff;
    border-radius: 20px 20px 20px 20px;
    
    height: 100px;
    width: 250px;

    display: table-cell;
    vertical-align: middle;
}
.botonDerecho{
    background-color: #00aeff;
    color: #1f1f38;
}
.header_containerImagen{
    width: 600px;
    height: 1000px;

    position: relative;

    border-radius: 500px 500px 0px 0px;

    margin: 0px auto;
    background-image: linear-gradient(180deg, rgb(0, 174, 255), #1f1f381f);
}
.header_imagen{
    height: auto;
    width: 500px;

    bottom: 0;
    left: 0px;
    right: 0px;

    margin-left: auto;
    margin-right: auto;

    position: absolute;
}